/* vertical centering */
body {
	display: table;
}
#container {
	display: table-cell;
	vertical-align: middle;
}

/* general layout */
html, body, #container, .panel {
	width: 100%;
	box-sizing: border-box;
}
body {
	margin: 0;
	background: #eef8fc;
}
#container {
	padding: 20px;
}
.three-col {
	position: absolute;
	height: auto;
	bottom: 20px;
	top: 20px;
}
#farm.three-col {
	left: 20px;
	width: calc(50% - 127.5px);
}
#picker.three-col {
	left: calc(50% - 87.5px);
	right: calc(50% - 87.5px);
	width: 175px;
}
#picker.three-col svg {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: calc(100% - 100px);
}
#harvest.three-col {
	right: 20px;
	width: calc(50% - 127.5px);
}
#harvest.three-col svg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.panel {
	border: 1px solid #7fbc41;
	box-shadow: 0 0 3px rgba(127, 188, 65, 0.5);
	overflow: auto;
	background-color: #fcfffc;
}
#farm {
	padding: 10px;
}
.panel:hover, .panel:focus {
	border: 1px solid #4d9221;
	box-shadow: 0 0 3px rgba(76, 143, 33, 0.5);
	outline: none;
}

/* text properties */
body {
	font-size: 20px;
	font-family: sans-serif;
	color: #0f0f0f;
}
.panel .placeholder {
	color: #3f3f3f;
}
#picker {
	text-align: center;
}
.row-3 button {
	width: 31%;
}

/* debug */
